{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
	html,
	body {
		margin: 0;
	}
	
	.banner {
		background: #e17327;
	}
	.banner__content{
		padding: 10px;
		max-width: 500px;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
	
	.banner__text{
		flex-grow: 1;
		line-height 1.4;
		font-family: 'Quicksand', sans-serif;
	}
	
	.banner__close {
		background: none;
		border: none;
		cursor: pointer;
		right: 100px;
		position: absolute;
		right: 0;
		
	}
	.carousel-indicators .active{
    background-color: #f00;
	}
	
	
	h1 {text-align: center;}
  </style>
</head>
<body>
  <h1>Super Mega Store Of Exotic Things!</h1>
  
  <div class ="banner">
	<div class="banner__content">
		<div class ="banner__text">
			<strong>Don't forget to check out the new items from our Fall Sale!</strong>
		</div>
		<button class="banner__close" type="button">
			<span class="material-icons">
				cancel
			</span>
		</button>
	</div>
  </div>
  <script>
	document.querySelector(".banner__close").addEventListener("click", function() {
		this.closest(".banner").style.display = "none";
	});
  </script>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "plant1.jpg" %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exotic Plants!</h5>
          <p>Browse our wide range of exotic plants.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img style="text-align:center;" src="{% static "AlligatorBoots.jpg" %}" class="d-block w-100" height="1000" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5> <strong>Exotic Clothes!</strong></h5>
          <p><strong>We have everything from alligator boots to rare basketball shoes.</strong></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "exoticCar.jpg" %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Exotic Cars!</h5>
          <p>Our selection of exotic cars will have you wondering if there's anything exotic we don't sell!</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>
</html>